.app-header {
    .logo {
        margin: 0 0 0.15em 0.25em;
    }
}

.side-actions {
    .nav-link {
        padding: 0.5em 0.75em;
        color: rgba(220, 220, 220, 0.9);
        transition: 0.2s;
        border-radius: 0.3em;
        border: 1px solid rgba(220, 220, 220, 0.2);
        margin-inline-end: 0.5em;

        &:hover {
            color: white;
        }
    }
}

.nav-link {
    position: relative;
    .cart-count {
        position: absolute;
        top: -0.5em;
        right: 0;
        background-color: red;
        width: 1rem;
        height: 1rem;
        font-size: smaller;
        text-align: center;
        border-radius: 50%;
        font-weight: bold;
    }
}





@include for-medium-layout {
    .navbar-container {
        display: flex;
        .side-actions {
            order: 3;
        }

    }
}

