.card-preview {
    transition: all 0.2s;

    > .card-body {

        .card-title {
            min-height: 5em;
        }
    }

    &:hover {
        background-color: #efefef;
        cursor: pointer;
    }
}

@include for-medium-layout {
    .card-preview {

        > .card-body {

            .card-title {
                min-height: 3.8em;
            }
        }
    }
}
