.newsletter {
    position: relative;
    background: rgb(255, 134, 216);
    background: linear-gradient(
        144deg,
        rgba(255, 134, 216, 0.7) 19%,
        rgba(255, 255, 255, 0) 20%,
        rgba(221, 82, 176, 0.7) 21%,
        rgba(255, 134, 216, 0.7) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 134, 216, 0.7) 51%,
        rgba(221, 82, 176, 0.7) 79%,
        rgba(255, 255, 255, 0) 80%,
        rgba(255, 134, 216, 0.7) 81%
    );

    .red-rose {
        width: 60px;
        position: absolute;
        bottom: -1em;
        left: 10%;
        z-index: 10;
    }

    h3 {
        font-family: OleoScript;
        color: white;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }

    .form-control {
        border-radius: 0.35em;
        max-width: em(260px);
        margin: 0 auto;
    }

    label {
        padding-inline-start: 8px;
    }

    .btn {
        max-width: em(240px);
        margin: 0 auto;
        border-radius: 0.35em;
    }
}