a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

p {
    font-weight: bold;
    margin: 0;
}

.list-group-item {
    p {
        font-weight: bold;
        margin: 0;
    }
}

.btn-nude {
    border: none;
    background: transparent;
    font-weight: bold;
}

.secured {
    -webkit-text-security: disc;
}
