a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.list-group-item {
    p {
        font-weight: bold;
        margin: 0;
    }
}

.go-back {
    border: none;
    background: transparent;
    font-weight: bold;
    transition: all 0.05s;
    &:hover {
        transform: scale(1.05);
    }
}